<header class="header">
  <nav>
    <div class="mobile__nav__menu">
      <a
        [routerLink]="['/']"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}"
        class="block-icon">
        <span class="material-symbols-rounded">menu_book</span>
        <span>Рецепти</span>
      </a>

      <a
        [routerLink]="['/favorite']"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}"
        class="block-icon">
        <span class="material-symbols-rounded">favorite</span>
        <span>Обране</span>
      </a>

      <a
        [routerLink]="['/fridge']"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}"
        class="block-icon">
        <span class="material-symbols-rounded">kitchen</span>
        <span>Холодильник</span>
      </a>

      <a
        [routerLink]="['/shopping-list']"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}"
        class="block-icon">
        <span class="material-symbols-rounded">checklist</span>
        <span>Інгрідієнти</span>
      </a>

      <a
        [routerLink]="['/profile']"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: true}"
        class="block-icon">
        <span class="material-symbols-rounded">account_circle</span>
        <span>Профіль</span>
      </a>
    </div>
  </nav>
</header>
